* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	padding: 0;
	position: relative;
	margin: 0;
}
h1 {
	font-family: 'Buenard', serif;
}
h2, h3, h4, h5, h6,  {
	font-family: 'Varela Round', sans-serif;
}
p, ul, ol, input, textarea, dl, dt {
	font-family: 'Varela', sans-serif;
}
#listing {
	margin: 1em 0;
	height: 500px;
	min-width: 100px;
	max-height: 100%;
	overflow-y: scroll;
}
.panel-title > a {
	display: block;
}
.affix {
	top: 100px;
	max-width: 350px;
	min-width: 100px;
	padding: 10px 0 20px 0;
}
.nav .active {
  font-weight: bold;
  background: #444;
  color: white;
}
.nav .active a {
	color: white;
}
.nav .active a:hover {
	color: black;
}
@-webkit-keyframes rotate {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes rotate {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes fadeInOut {
	from {
		opacity: 0.2;
	}
	to {
		opacity: 1;
	}
}
@-webkit-keyframes fadeInOut {
	from {
		opacity: 0.2;
	}
	to {
		opacity: 1;
	}
}
.loading-icon {
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
}
.pulsing {
	-webkit-animation-name: fadeInOut;
	animation-name: fadeInOut;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
}
.rotating {
	-webkit-animation-duration: 0.8s;
	animation-duration: 0.8s;
	-webkit-animation-name: rotate;
	animation-name: rotate;
}
