{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2>Welcome! Click a job source below</h2>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Sources</h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li><a href="/careerbuilder">Careerbuilder</a></li>
                    <li><a href="/onetonline">OnetOnline</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
